<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
  <title>CW1</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/lessons.js"></script>
</head>

<body>
  <main id="app">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container"> <a class="navbar-brand" href="#">
        <i class="fa d-inline fa-lg fa-stop-circle"></i>
      </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar10">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar10">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"> <a class="nav-link" href="#">Home</a> </li>
        </ul> 
        <button :disabled="cartItemCount < 1" v-on:click="showCheckout" class="btn navbar-btn ml-md-2 btn-light text-dark">{{cartItemCount}} Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
      </div>
    </div>
  </nav>
  <div class="py-5" v-if="showCartPage">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-6 p-3" v-for="(lesson, index) in getLessons()">
          <div class="row">
            <div class="col-3 p-0"> <img class="img-fluid d-block" src="https://static.pingendo.com/img-placeholder-1.svg"> </div>
            <div class="col-9">
              <p class="lead mb-1"> <b>{{lesson.subject}}</b></p>
              <p class="mb-0">{{lesson.location}}</p>
              <p class="mb-0">{{lesson.price}} AED</p>
              <p class="mb-0">{{lesson.spaces}} spaces left</p>
              <button class="btn btn-light text-dark" :disabled="!canAddToCart(lesson)" v-on:click="addToCart(lesson)">Add to Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center" v-else="showCartPage">
    <div class="container">
      
      <div class="row">
        <div class="mx-auto col-lg-8">
          <h1>Customer Details</h1>
          <form class="form-inline d-flex justify-content-around">
            <div class="form-group"> <input type="text" class="form-control" id="form7" placeholder="Your Name"> </div>
            <div class="form-group"> <input type="text" class="form-control" id="form8" placeholder="Number"> </div> 
            <button :disabled="!canCheckout" type="submit" v-on:click="submitOrder" type="submit" class="btn btn-primary">Place Order</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  </main>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script type="application/javascript">
    var webstore = new Vue({
      el: '#app',
      data() {
        return {
          step: 1,
          lessons: lessons,
          showCartPage: true,
          search: '',
          sort_by: 'subject',
          sort_order: 'asc',
          sitename: 'Knowledge Bank Store',
          order: {
            name: '',
            phone: '',
          },
          cart: [],
  
        }
      },
      methods: {
        addToCart: function (lesson) {
          let item = this.cart.find(({ id }) => id === lesson.id);
          if (item) {
            item.cart_quantity += 1;
            item.spaces -= 1;
          }
          else {
            lesson.spaces -= 1;
            lesson.cart_quantity = 1;
            this.cart.push(lesson);
          }
        },
        showCheckout() {
          this.showCartPage = !this.showCartPage;
        },
        
        submitForm() {
          alert("Order Submitted.")
          window.reload();
        },
        canAddToCart(lesson) {
          return lesson.spaces > 0;
        },
        getLessons() {
          if (this.sort_by === 'subject')
            this.lessons.sort((a, b) => (a.subject > b.subject) ? this.sort_order === 'asc' ? 1 : -1 : this.sort_order === 'asc' ? -1 : 1);
          if (this.sort_by === 'location')
            this.lessons.sort((a, b) => (a.location > b.location) ? this.sort_order === 'asc' ? 1 : -1 : this.sort_order === 'asc' ? -1 : 1);
          if (this.sort_by === 'price')
            this.lessons.sort((a, b) => (a.price > b.price) ? this.sort_order === 'asc' ? 1 : -1 : this.sort_order === 'asc' ? -1 : 1);
          if (this.sort_by === 'spaces')
            this.lessons.sort((a, b) => (a.spaces > b.spaces) ? this.sort_order === 'asc' ? 1 : -1 : this.sort_order === 'asc' ? -1 : 1);
  
          if (this.search.length > 1) {
            let e = this.search.toLowerCase();
            return this.lessons.filter((lesson) => (lesson.subject.toLowerCase().indexOf(e) > -1 || lesson.location.toLowerCase().indexOf(e) > -1))
          }
  
          return this.lessons;
        },
        submitOrder(){
          alert("YOUR ORDER HAS BEEN PLACED SUCCESFULLY");
        }
  
      },
      computed: {
        cartItemCount: function () {
          return this.cart.length;
        },
        canCheckout() {
          return this.order.name == "" && this.order.phone == "" ;
        }
      }
    });
  </script>
</body>

</html>